# Configuração do Banco de Dados
DATABASE_URL=postgresql://usuario:senha@localhost:5433/nome_do_banco

# Chave secreta da aplicação
SECRET_KEY=sua_secret_key_aqui

# Ambiente da aplicação
FLASK_ENV=development